body {
    font-family: sans-serif;
}

header{
    background-color: lightblue
}

header img {
    padding: 10px
}

main h1 {
    color: navy;
    text-align: center;
}

footer p {
    border: 2px solid grey;
}

nav {
    padding: 10px;
    border: 2px solid grey;
}

nav a {
    text-decoration: none;
    color: grey;
    margin: 60px;
}
